* {
  font-family: "Inter";
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  background: #f3f5fc;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  position: absolute;
  width: 120px;
  height: 48px;
  left: 40px;
  top: 40px;
}

#textarea {
  background: #f3f5fc;
  position: absolute;
  width: 44%;
  height: 48px;
  left: 16%;
  top: 168px;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0a3871;
  border: none;
  resize: none;
  text-transform: lowercase;
}

#textarea:focus {
  outline: none;
}

#conditionsBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  left: 16%;
  top: 82%;
}

#conditions {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 44%;
  height: 67px;
  left: 16%;
  top: 86%;
}

button {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  gap: 8px;
  width: 100%;
  height: 67px;
  border-radius: 24px;
}

#encrypt {
  background: #0a3871;
  color: #ffffff;
}

#decrypt {
  background: #d8dfe8;
  color: #0a3871;
  border: 2px solid #0a3871;
}

#resultContainer {
  position: absolute;
  width: 400px;
  height: calc(100% - 80px);
  left: 65%;
  top: 40px;
  padding-right: 40px;
}

#resultBox {
  position: absolute;
  width: 400px;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

#resultText {
  position: absolute;
  background-color: white;
  color: #495057;
  width: 336px;
  min-height: 95%;
  top: 26px;
  margin: 0 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  border: none;
  resize: none;
}

#resultText:first-letter {
  text-transform: uppercase;
}

#manIllustration {
  position: absolute;
  width: 336px;
  height: 304px;
  top: 18%;
  left: 32px;
}

#noMsessageYet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 336px;
  height: 122px;
  top: 65%;
  left: 32px;
}

#p1 {
  width: 336px;
  height: 58px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343a40;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#p2 {
  width: 336px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#copy {
  box-sizing: border-box;
  position: absolute;
  width: 336px;
  left: 32px;
  top: 89%;
  border: 2px solid #0a3871;
  background: white;
  display: none;
}

@media screen and (max-width: 768px) {
  #logo {
    left: unset;
  }

  #textarea {
    width: 80%;
    left: 12%;
  }

  #buttons {
    width: 94%;
    top: 46%;
    left: 3%;
  }

  #conditionsBox {
    left: 4%;
    top: 42%;
  }

  #resultContainer {
    top: unset;
    left: unset;
    width: 100%;
    height: 300px;
    top: 56%;
    padding-right: unset;
  }

  #resultBox {
    width: 95%;
    margin: 0 14px;
  }

  #resultText {
    width: 90%;
    min-height: 84%;
  }

  #manIllustration {
    display: none;
  }

  #noMsessageYet {
    width: 90%;
    top: 32%;
  }

  #p1,
  #p2 {
    width: unset;
  }

  br {
    display: none;
  }

  #copy {
    width: 50%;
    left: 25%;
    top: 70%;
  }
}

@media screen and (max-width: 480px) {
  #buttons {
    flex-direction: column;
    width: 92%;
    height: 160px;
    left: 4%;
  }

  #resultContainer {
    top: 64%;
  }

  #copy {
    width: 80%;
    left: 13%;
  }

  br {
    display: block;
  }
}
